@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
  --primary : #8CB9BD;
  --secoundary: #FEFBF6;
  --third: #ECB159;
  --fourth: #B67352;
}

html,
body {
  background-color: var(--secoundary);
  height: 100%;
}

.btn {
  background-color: var(--primary);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration input {
  border-radius: 0;
  margin-bottom: -1px;
}

.navbar {
  background-color: var(--primary);
}

.navbar-brand {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}


